
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-16">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars News -->
    <div class="row" id="mars_news">
      <div class="col-md-12">
        <h3 id="section_title">Latest Mars News</h3>
        <h4 class="heading">{{marsinfo.news_title}}</h4>
        <p>{{marsinfo.news_p}}</p>
      </div>
    </div>
    <!-- featured_image, mars_weather, mars_facts-->
    <div class="row" id="featured_image">
      <div class="col-md-8">
        <h3 id="section_title">Featured Mars Image</h3>
        <img src = {{marsinfo.featured_image_url}} class="img-responsive">
      </div>
      <div class="col-md-4">
          <div class="row" id="mars_weather" style="box-shadow: inset 1px -1px 1px #909497, inset -1px 1px 1px #909497; padding:10px 10px">
            <h4 id="section_title">Current Weather on Mars</h4>
            <p>{{marsinfo.mars_weather}}</p>
          </div>
          <div class='panel' id="mars_facts">
            <div class='panel-body'>
              <h4 id="section_title">Mars Facts</h4>
              {{marsinfo.mars_facts|safe}} 
            </div>
          </div>
      </div>
    </div>
    <div class="row" id='mars_hemisphere_image'>
      <div class="col-md-12">
        <h3 class="text-center">Mars Hemispheres</h3>
        <hr color="#909497" size="12">    
      </div>
      <div class="row">
        <div class="col-md-6" style="padding:15px 15px">            
          <div style="box-shadow: inset 1px -1px 1px #909497, inset -1px 1px 1px #909497; padding:5px 5px">
            <img src = {{marsinfo.hemisphere_image_urls.0.img_url}} class="img-responsive">
            <h3 class="text-center">{{marsinfo.hemisphere_image_urls.0.title}}</h3>
          </div>    
        </div>
        <div class="col-md-6" style="padding:15px 15px">            
          <div style="box-shadow: inset 1px -1px 1px #909497, inset -1px 1px 1px #909497; padding:5px 5px">
            <img src = {{marsinfo.hemisphere_image_urls.0.img_url}} class="img-responsive">
            <h3 class="text-center">{{marsinfo.hemisphere_image_urls.1.title}}</h3>
          </div>    
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="padding:15px 15px">            
          <div style="box-shadow: inset 1px -1px 1px #909497, inset -1px 1px 1px #909497; padding:5px 5px">
            <img src = {{marsinfo.hemisphere_image_urls.0.img_url}} class="img-responsive">
            <h3 class="text-center">{{marsinfo.hemisphere_image_urls.2.title}}</h3>
          </div>    
        </div>
        <div class="col-md-6" style="padding:15px 15px">            
          <div style="box-shadow: inset 1px -1px 1px #909497, inset -1px 1px 1px #909497; padding:5px 5px">
            <img src = {{marsinfo.hemisphere_image_urls.0.img_url}} class="img-responsive">
            <h3 class="text-center">{{marsinfo.hemisphere_image_urls.3.title}}</h3>
          </div>    
        </div>
      </div>

    </div>
    
  </div>
</body>

</html>

